.luna {
    border: 480px 150px;
}

h1  {
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
}

h5 {
    font-style: italic;
}

p {
    font-family: 'Heebo', sans-serif;
    font-size: medium;
}