.productoimagen{
    width: 1400px;
    .texto{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        span{
            color: #1d1d1f;
            font-size: 45px;
            background-size: 113px 26px;
            width: 113px;
            height: 26px;
        }
        h3{
            color: black;

        }
    }
    .imagencelu{
        img{
            width: 346px;
            height: 420px;
        }
    }   
}