body{

    width: 20rem;
    margin: 0;
    header{
        background-color: #ffffff;
        width: 20rem;
        display: flex;
        justify-content: space-between;
        nav{
            display: flex;
            justify-content: space-between; 
            flex-wrap: wrap;
            width: 100%;
            img{
                padding-top: 0.63em;
                padding-bottom: 0.63em;
                margin-left: 16px;
                width: 1.5rem;
                height: 1.5rem;
                justify-items: flex-start;
            }
            .menu {
                color: black;
                padding-right: 3px;
                align-self: center;
                display: flex;
                flex-direction: column;
                .raya{
                    height: 2px;
                    width: 18px;
                    background-color: black;
                    margin-top: 3px;
                }
            }
            .sections {
                display: none;
                background-color: #0000EC;
                color: white;
                font-family: 'IBM Plex Mono', monospace;
                font-size: 16px;
                flex-wrap: wrap;
                width: 100%;
                margin-left: 3px;
                margin-right: 3px;
                justify-content: flex-start;
                padding-left: 0;
                li{
                    padding: 8px;
                    list-style: none;
                    &:nth-last-child(1){
                        padding-bottom: 8px;
                    }
                }
            }
            #toggle {
                display: none;
                &:checked ~ .sections{
                    display: flex;
                    flex-flow: column;
                    align-self: flex-start;
                }
            }
        }
    }
    .titulo{
        h1{
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            margin-left: 16px;
            span{
                text-decoration-line: line-through;
                position: relative;                
            }
        }
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            margin: 16px;
        }
        input{
            background-color: #00F3BB;
            display: flex;
            font-family: 'IBM Plex Mono', monospace;
            height: 48px;
            width: 288px;
            padding: 13px 96px;
            border: none;
            justify-items: center;
            align-content: center;
            margin: 16px;
        }
    }
}
