/*Variables*/
body {
  width: 320px;
  margin: 0;
}

body header {
  background-color: #ffffff;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body header nav img {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
  width: 24px;
  height: 24px;
  justify-items: flex-start;
}

body header nav .menu {
  color: #060A24;
  padding-right: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header nav .menu .raya {
  height: 2px;
  width: 18px;
  background-color: #060A24;
  margin-top: 3px;
}

body header nav .sections {
  display: none;
  background-color: #0000EC;
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
}

body header nav .sections li {
  padding: 8px;
  list-style: none;
}

body header nav .sections li:nth-last-child(1) {
  padding-bottom: 8px;
}

body header nav #toggle {
  display: none;
}

body header nav #toggle:checked ~ .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body .titulo h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 16px;
}

body .titulo h1 span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  position: relative;
}

body .titulo p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 16px;
}

body .titulo input {
  background-color: #00F3BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  height: 48px;
  width: 288px;
  padding: 13px 96px;
  border: none;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

body .episodios {
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
  background: linear-gradient(99deg, blue 0%, #0000a3 100%);
  z-index: -1;
}

body .episodios h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  margin-left: 16px;
  margin-top: 64px;
  z-index: 1;
}

body .episodios .capitulos {
  width: 320px;
  border-radius: 1%;
  display: -ms-grid;
  display: grid;
  margin: 11px;
  z-index: 1;
}

body .telefono img {
  margin-top: 48px;
  height: 519px;
  width: 360px;
}

body .telefono .venimos {
  width: 320px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 27px;
  margin-left: 16px;
  margin-right: 16px;
}

body .telefono .venimos h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
}

body .telefono .venimos h1 span {
  display: block;
}

body .telefono .venimos p {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre-line;
}

body .invitadxs h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  margin-top: 54px;
  margin-bottom: 14px;
  margin-left: 16px;
}

body .invitadxs h1 span {
  display: block;
}

body .invitadxs img {
  width: 320px;
  height: 243px;
  margin: none;
}

body .temas {
  margin-left: 16px;
}

body .temas h1 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 48px;
  margin-bottom: 37px;
}

body .temas h1 span {
  display: block;
}

body .temas .algunostemas h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}

body .novedades h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  margin-top: 106px;
  margin-left: 16px;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .novedades input {
  background-color: #00F3BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  height: 48px;
  width: 288px;
  padding: 13px 96px;
  border: none;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

body footer h5 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */