/*Variables*/
$main-color-grad: linear-gradient(99deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
$main-color-blue: #0000EC;
$main-color-green: #00F3BB;
$main-color-white: #ffffff;
$main-color-black: #060A24;
$main-mono-plex: 'IBM Plex Mono', monospace;
$main-mono-sans: 'IBM Plex Sans', sans-serif;
$main-font-size: 36px;
$fa-font-path:  "font/webfonts";
@import "./font/scss/fontawesome.scss";
@import "./font/scss/solid.scss";
@import "./font/scss/brands.scss";


body {
    width: 320px;
    margin: 0;
    header{
        background-color: $main-color-white;
        width: 320px;
        display: flex;
        justify-content: space-between;
        nav{
            display: flex;
            justify-content: space-between; 
            flex-wrap: wrap;
            width: 100%;
            img{
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 16px;
                width: 24px;
                height: 24px;
                justify-items: flex-start;
            }
            .menu {
                color: $main-color-black;
                padding-right: 3px;
                align-self: center;
                display: flex;
                flex-direction: column;
                .raya{
                    height: 2px;
                    width: 18px;
                    background-color: $main-color-black;
                    margin-top: 3px;
                }
                .cuadrado {
                    display: none;
                    background-color: $main-color-black;
                    width: 14px;
                    height: 14px;
                    clip-path: polygon(10% 0, 0 10%, 40% 51%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
                }
                
            }
            .sections {
                display: none;
                background-color: $main-color-blue;
                color: $main-color-white;
                font-family: $main-mono-plex;
                font-size: 16px;
                flex-wrap: wrap;
                width: 100%;
                margin-left: 3px;
                margin-right: 3px;
                justify-content: flex-start;
                padding-left: 0;
                li{
                    padding: 8px;
                    list-style: none;
                    &:nth-last-child(1){
                        padding-bottom: 8px;
                    }
                }
            }
            #toggle {
                display: none;
                &:checked ~ .sections{
                    display: flex;
                    flex-flow: column;
                    align-self: flex-start;
                    .raya{
                        clip-path: polygon(10% 0, 0 10%, 40% 51%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
                        color: $main-color-black;
                        height: 14px;
                        width: 14px;
                        display: inline;
                    }
                }
                &:checked ~ .menu {
                    .raya{
                        display: none;
                    }
                    .cuadrado{
                        display: inline-block;
                    }
                    }
                }
            }
        }
    .titulo{
        h1{
            font-family: $main-mono-sans;
            font-size: $main-font-size;
            color: $main-color-black;
            letter-spacing: 0;
            line-height: 42px;
            margin-left: 16px;
            span{
                text-decoration-line: line-through;
                position: relative;                
            }
        }
        p{
            font-family: $main-mono-plex;
            font-size: 14px;
            color: $main-color-black;
            letter-spacing: 0;
            line-height: 22px;
            margin: 16px;
        }
        input{
            background-color: $main-color-green;
            display: flex;
            font-family: $main-mono-plex;
            height: 48px;
            width: 288px;
            padding: 13px 96px;
            border: none;
            justify-items: center;
            align-content: center;
            margin: 16px;
        }
        input:hover{
            background: linear-gradient(239deg, rgba(0,0,254,1) 0%, rgba(0,240,184,1) 100%);
        }
    }
    .episodios{
        clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
        background: $main-color-grad;
        margin-top: 24px;
        padding-top: 64px;
        height: 1203.5px;
        h1{
            font-family: $main-mono-sans;
            font-size: $main-font-size;
            color: $main-color-white;
            margin-left: 16px;
        }
        .capitulos{
            width: 298px;
            height: 225px;
            border-radius: 1%;
            display: block;
            margin: 16px auto;
        }
        
    }
    .telefono{
        img {
            margin-top: 48px;
            height: 519px;
            width: 320px;
            transform: translateY(-150px);
            .vertical-translation {
            transform: translateY(-150px);  
        }
        }
        .venimos {
            width: 320px;
            align-content: center;
            margin-top: 27px;
            margin-left: 16px;
            margin-right: 16px;
            h1{
                margin-top: 27px;
                font-family: $main-mono-sans;
                font-size: $main-font-size;
                span{
                    display: block;
                }
            }
            p{
                font-family: $main-mono-plex;
                white-space: pre-line;
            }
        }
    }
    .invitadxs{
        h1{
            font-family: $main-mono-sans;
            font-size: $main-font-size;
            margin-top: 54px;
            margin-bottom: 14px;
            margin-left: 16px;
            span{
                display: block;
            }
        }
        img{
            width: 320px;
            height: 243px;
            margin: none;
        }
    }
    .temas{
        h1{
            font-size: $main-font-size;
            font-family: $main-mono-sans;
            margin-top: 48px;
            margin-bottom: 37px;
            margin-left: 16px;
            display: block;
            span{
                display: block;
            }
        }
        .iconos-temas{
            img {
                display: block;
                margin: 0 auto;
            }
            h4{
                font-size: 24px;
                font-family: $main-mono-sans;
                font-weight: bold;
                margin: 16px auto;
                width: 288px;
                height: 32px;
                display: block;
                align-self: center;
            }
        }
    }
    .novedades{
        background: $main-color-grad;
        clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
        height: 341px;
        h1{
            font-family: $main-mono-sans;
            font-size: $main-font-size;
            color: $main-color-white;
            height: 126px;
            width: 288px;
            margin-top: 64px;
            margin-left: 16px;
            align-self: center;
        }
        input{
            background-color: $main-color-green;
            display: flex;
            font-family: $main-mono-plex;
            height: 48px;
            width: 288px;
            border: none;
            justify-items: center;
            align-items: center;
            margin: 36px 16px 67px 16px;
            padding: 16px 59px;
        }
        input:hover{
            background: linear-gradient(239deg, rgba(0,0,254,1) 0%, rgba(0,240,184,1) 100%);
        }
    }
    footer{
        display: grid;
        height: 341px;
        h5{
            font-family: $main-mono-plex;
            font-size: 12px;
            margin-left: 47px;
            margin-top: 24px;
            color: $main-color-black;
        }
        ul{

            li{
                list-style: none;
                .twitter {
                    @extend %fa-icon;
                    @extend .fab;

                    &:before {
                        content: fa-content($fa-var-twitter);
                    }
                }
            }
            li{
                .spotify{
                    @extend %fa-icon;
                    @extend .fab;

                    &:before {
                        content: fa-content($fa-var-spotify);
                    }
                }
            }
            li{    
                .instagram{
                    @extend %fa-icon;
                    @extend .fab;

                    &:before {
                        content: fa-content($fa-var-instagram);
                    }
                }
            }
            li{
                .facebook{
                    @extend %fa-icon;
                    @extend .fab;

                    &:before {
                        content: fa-content($fa-var-facebook);
                    }
                }
            }
            li{
                .telegram{
                    @extend %fa-icon;
                    @extend .fab;

                    &:before {
                        content: fa-content($fa-var-telegram);
                    }
                }
            }
        }
    }
}
