body {
  width: 20rem;
  margin: 0;
}

body header {
  background-color: #ffffff;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body header nav img {
  padding-top: 0.63em;
  padding-bottom: 0.63em;
  margin-left: 16px;
  width: 1.5rem;
  height: 1.5rem;
  justify-items: flex-start;
}

body header nav .menu {
  color: black;
  padding-right: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header nav .menu .raya {
  height: 2px;
  width: 18px;
  background-color: black;
  margin-top: 3px;
}

body header nav .sections {
  display: none;
  background-color: #0000EC;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
}

body header nav .sections li {
  padding: 8px;
  list-style: none;
}

body header nav .sections li:nth-last-child(1) {
  padding-bottom: 8px;
}

body header nav #toggle {
  display: none;
}

body header nav #toggle:checked ~ .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body .titulo h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 16px;
}

body .titulo h1 span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  position: relative;
}

body .titulo p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 16px;
}

body .titulo input {
  background-color: #00F3BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'IBM Plex Mono', monospace;
  height: 48px;
  width: 288px;
  padding: 13px 96px;
  border: none;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

body .episodios {
  -ms-grid-columns: [comienzo] 298px [final];
      grid-template-columns: [comienzo] 298px [final];
  -ms-grid-rows: [primera] 225px [segunda] 225px [tercera] 225px [cuarta] 225px [quinta];
      grid-template-rows: [primera] 225px [segunda] 225px [tercera] 225px [cuarta] 225px [quinta];
  -webkit-clip-path: polygon(0 0, 100% 1em, 100% 100%, 0 1em);
          clip-path: polygon(0 0, 100% 1em, 100% 100%, 0 1em);
  background-color: blue;
}

body .episodios h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 16px;
  margin-top: 64px;
}

body .episodios .capitulos {
  border-radius: 1%;
  display: -ms-grid;
  display: grid;
  margin: 11px;
}

body .telefono img {
  height: 519px;
  width: 360px;
}
/*# sourceMappingURL=style.css.map */